# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="somesecret"

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://admin:password@localhost:5432/mydatabase"

GITHUB_CLIENT_ID="jnjddcdckkcmdcsm"
GITHUB_CLIENT_SECRET="kkzskmsxmkxsmxmlsmlsalalk"